.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 700px;
  padding: 30px;
  padding-top: 0;
  height: auto;
  border-radius: 5px;
}

.icon {
  width: 40px;
}

.sign {
  height: auto;
  width: 100%;
  min-width: 370px;
  border-radius: 50px 3px 50px 3px;
  margin: 15px
}


.formCardsContainer {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.formCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #c0c0c0;
  background-color: #f6f6f6;
  height: 150px;
  width: 40%;
  margin: 0.5em;
}

.title {
  margin-bottom: auto;
}

.subtitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

@media (max-width: 1250px) {

  .sign {
    margin: 15px;
    max-width: 531px;
  }
}


@media (max-width: 990px) {

  .infoContainer {
    width: auto;
    justify-content: space-evenly;
  } 

  .title, .contact{
    margin: 20px 0;
  }

  .h3 {
    display: none;
  }

  .sign { 
    display: none;
  }

  .formCardsContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 82vw;
    margin: 50px 0
  }

  .formCard {
    height: 90px;
    width: 25%;
    margin: 0.2em;
  }

  .subtitle {
    font-size: 15px;
  }
}

@media (max-width: 450px) {

  .title {
      font-size: 25px;
  }

  .infoContainer {
    padding: 10px;
  }

  .formCardsContainer{
    flex-wrap: wrap;
    width: 100%;
  }

  .formCard {
    width: 45%;
  }

}
