
.aboutSection{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 110px;
  width: 100vw;
  height: auto;
  background-color: #f6f6f6;
  overflow-x: hidden;
}

.aboutTitle {
  font-size: 70px;
  margin: 100px 0;
}

.aboutSubtitle {
  font-size: 20px;
  margin-bottom: 100px;
}


.aboutCardsContainer{
  display: flex;
  width: 100%;
  height: auto;
  padding: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.aboutCard{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.42em;
  height: 490px;
  width: 30%;
  max-width: 27.14em;
  color: #f6f6f6 ;
  font-size: 15px;
  border-radius: 5px;
  background-color: #2b2b2b;
  border: 1px solid #ff4d0b;
  background-image: url(../../static/assets/layered-waves-haikei.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.headline {
  display: flex;
  height: 60px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 60px;
}

 .icon {
  height: 100px;
  width: 100px;
 }

.cardTitle {
  font-size: 35px;
  color: #ff4d0b
}

.description {
  display: inline-block;
  width: 70%;
  flex-wrap: nowrap;
}

.description, .valuesList, .valueItem {
  text-align: left;
}

.valuesList {
  list-style:none;
  text-decoration: none;
}

.valueItem {
  text-align: center;
  margin: 8px 0
}

.left {
  text-align: left;
  margin-right: auto;
  margin-left: 10%;
}


.workTitle {
  margin-top: 100px;
  font-size: 30px;
  background-color: #f6f6f6;
}

.workSubtitle {
  margin-top: 50px;
  font-size: 20px;
  background-color: #f6f6f6;
}

@media (max-width: 990px) {

  .aboutSection {
    justify-content: center;
    height: auto;
    overflow-x: hidden;
  }

  .aboutCardsContainer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    overflow-x: hidden;
  }
  
  .aboutCard{
    font-size: 15px;
    height: 28.66em;
    max-width: 30em;
    margin: 2em;
    min-width: 24.23em;
    justify-content: space-around;
  }

  .aboutTitle {
    font-size: 40px;
    margin-top: 40px;
  }

  .aboutSubtitle {
    margin-top: 30px;
    font-size: 15px;
  }

  .headline {
    margin-bottom: 40px;
  }

  .cardTitle {
    font-size: 30px;
  }

  .workSubtitle {
    font-size: 15px ;
  }

}

@media (max-width: 450px) {
  .aboutSection {
    overflow-x: hidden;
  }
  .aboutTitle { 
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .aboutSubtitle {
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 15px;
  }

  .aboutCard{
    min-width: unset;
    width: 100%;
    max-width: 350px;
    height: 100%;
    padding: 12px;
  }

  .headline {
    margin: 10px;
    justify-content: space-between;
  }

  .cardTitle {
    font-size: 30px;
  }

  .icon {
    max-height: 75px;
    height: auto;
    min-height: 40px;
    max-width: 75px;
    width: auto;
    min-width: 40px;
  }

  .workTitle {
    text-align: center;
    margin: 0 auto
  }

  .workSubtitle {
    font-size: 15px;
    word-break: break-word;
    white-space: normal;
    padding: 15px;
    margin: 50px 15px
  }

}