* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}

.footer {
  background-color: #2b2b2b;
  padding: 70px 0;
  text-align: center;
}
.footer_col {
  width: 25%;
  padding: 0 15px;
}
.footer_col h4 {
  width: auto;
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  border-bottom: 2px solid #ff4d0b;
  padding: 5px;
}

.footer_col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer_col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer_col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.number{
    margin-right: 8px;
    margin-left: 2px;
}
.contact{
    font-size: 16px;
    color: #bbbbbb;
    display: block;
}

/*responsive*/
@media (max-width: 768px) {
  .footer_col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .footer_col {
    width: 100%;
  }
}
