

.titleContainer{
  width: 100vw;
  background-color: #FFFDFA;
  margin-bottom: 50px;
  text-align: center;
  overflow-x: hidden;
}
.cardsContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  margin: 0 auto;
  padding: 50px;
  overflow-x: hidden;
}

.ourServices {
  display:inline-block;
  padding-top: 50px;
  font-family: inherit;
  font-size: 40px;
  margin-top: 50px;
  width: 80vw;
}

.container {
  display: flex;
  justify-content: space-evenly;
  width: 100%
}


@media (max-width: 1250px) {
  .cardsContainer {
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  
  .titleContainer{
  overflow-x: hidden;
  }

}



@media (max-width: 990px){

  .cardsContainer{
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
    padding: 40px;
    overflow-x: hidden;
  }

  .container {
    justify-content: space-evenly;
  }

  .titleContainer{
  overflow-x: hidden;
  }
}

@media (max-width: 450px){

  .ourServices {
    font-size: 35px;
  }

  .cardsContainer{
    padding: 20px 0;
    overflow-x: hidden;
  }

  .container {
    justify-content: center;
    width: 100%;
    padding: 0 12px
  }

  .titleContainer{
  overflow-x: hidden;
  }
}