
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  height: 300px;
  padding: 20px;
  padding-top: 50px;
  margin: 0 30px;
  border: 1px solid #c0c0c0;
  background-color: #f6f6f6;
}

.title{
  font-size: 16px;
  font-family: inherit;
  height: 70px;
}